{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        {{form_start(formSearch)}}
        <div class="form-row align-items-end formSearch">
            <div class="col">
                {{form_row(formSearch.sexe,{'label':'Sexe'})}}
            </div>
            <div class="col">
                {{form_row(formSearch.age,{'label':'Âge'})}}
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-success">Rechercher</button>
                </div>
            </div>
        </div>
        {{form_end(formSearch)}}
    </div>
    <div class="container">
        <div class="row">
            {% for user in users %}
                {% if user is not same as(app.user) %}
                    <div class="card h-100 col-md-3">
                        <button class="btn btn-success cacher" onclick="envoiInvitation({{user.id}})" title="Inviter {{user.username}}">
                            <i class="fas fa-user-plus "></i>
                        </button>
                        <button class="btn btn-danger cacher">
                            <i class="fas fa-user-times "></i>
                        </button>
                        <div class="card-body">
                            <div class="myback-img ">
                                <img class="" src="/images/homme.jpg" height="500">
                            </div>
                            {# <div class="myoverlay"></div> #}
                            <div class="profile-img">
                                {% if user.image.name is defined %}
                                    <div class="borders avatar-profile"><img src="{{asset('images/') ~ user.image.name}}" with="75px" height="75px" alt="photo de profil"></div>
                                {% elseif app.user.sexe == 'h'%}
                                    <div class="borders avatar-profile"><img src="{{asset('img_site/profil_default_h.png')}}" height="75px" with="75px"></div>
                                {% else %}
                                    <img src="{{asset('img_site/profil_default.png')}}" height="75px" with="75px"></div>
                            {% endif %}
                        </div>
                        <div class="profile-title">
                            <h3>{{user.username}}</h3>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>{% endblock %}
