{# <div class="card-body">
    {% if app.user %}
        {{form_start(commentForm)}}
        <div class="form-group">
            {{form_row(commentForm.content,{'attr':{'placeholder':'Votre commentaire'}})}}
        </div>
        <button class="btn btn-success" type="submit">Commenter!</button>
        {{form_end(commentForm)}}
    {% else %}
        <div class="card-header">Connectez vous pour commenter l'article
            <button class="btn btn-light">
                <a href="{{path('inscription')}}">S'inscrire</a>
            </button>
            <button class="btn btn-light">
                <a href="{{path('login')}}">Se connecter</a>
            </button>
        </div>
    {% endif %}
</div> #}
